<h5>¿ Como deseas registrarte ?</h5>
<ul class="list-group">
  <%= link_to 'Donador', new_donor_registration_path, class: 'list-group-item list-group-item-action'%>
  <%= link_to 'Compañía', new_company_registration_path, class: 'list-group-item list-group-item-action'%>
  <%= link_to 'Emprensa social', new_socialcompany_registration_path, class: 'list-group-item list-group-item-action'%>
</ul>
